@font-face {
	font-family: 'Industry';
	src: local('Industry Black'), local('Industry-Black'),
	url('/Industry-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}


:root{
	font-size:12pt;
}
* {	/* Style Reset */
	/* Sizing Fixes */
	box-sizing: border-box;
	margin:0;
	padding:0;
	/* Borders, Lists, Etc. */
	border: none;
	list-style: none;
	text-decoration: none;
}


.shake {
	animation-name: shaking;
	animation-iteration-count: 3;
	animation-timing-function: linear;
	animation-duration: 200ms;
	position: relative;
}

@keyframes shaking {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(10px);
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}